<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="TC001_Get_Response.java"/>
     <class name="TC002_Post_Request.java"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
